body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin: 0 15px;
}
.nav-links a {
    text-decoration: none;
    color: white;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}
.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
}
.mobile-menu {
    padding-top: 50px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 1);
    transition: right 0.3s;

    li::before {
        content: "🐻 ";
      }
}
.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.mobile-menu li {
    display: block;
    height: 100px;
    line-height: 30px;
    font-weight: bold;    
}



.close {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.ticketlink {
    display: flex;
    flex-direction: column;
    margin: 0 auto;  
}

.pf-poster {        
    width: 90%;
}

.cta-button {
    display: block;
    text-align: center;
    padding: 15px 25px;
    margin: 10px auto 0 auto; /* top margin 10px, left/right auto */
    width: 100px;
    background-color: #f04e30;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.pc_logo {
    height: 50px;
}

.firsttwosections {
    display: flex;
    flex-direction: row;
}


.section1 { 
    background-color: beige;    
    color: black;
    width: 65%;
}

.section0 {
    text-align: center;
    padding: 50px;
    width: 35%;
}


.ticket-list {
    padding: 0;
}


.main-info {
    max-width: 600px;
    margin: 0 auto;  /* This centers the block horizontally */
    padding-left: 10px;
    padding-right: 10px;
}

.tickt-section-div {
    margin: 0 auto;  /* This centers the block horizontally */
    padding-left: 10px;
    padding-right: 10px;
}


.agenda {
    text-align: left;
}

.section2 { 
    color: #121212;
}

.section2 { 
    background-color:gainsboro;    
    color: #121212;
}



.content-section {
    padding: 30px 20px ;    
    
}

ul { 
    text-align: left;
}
li {
    list-style-type: none !important; 
    display: block;
}

.package {
    border: 1px solid;
    padding: 20px;
    background-color: #FAF9F6;
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ticket-table {
    display: flex;
    flex-direction: row;
}

footer {
    margin-left: 10px;
}

html {
    scroll-behavior: smooth;
}



@media (max-width: 1166px) {
    .section1 { 
        width: 100%;
    }
    .section0 { 
        width: 100%;
    }

    .pf-poster {        
        width: 411px;
    }

    .firsttwosections {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #ticket-table {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .tickt-section-div {
        width: 90%;
    }

    .ticketsection {
        width: 90%;
    }


    .package {
        border: 1px solid;
        padding: 20px;
        background-color: #FAF9F6;
        margin: 10px;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 457px) {
    .pf-poster{
        width: 90%;
    }
}
